.DS_store
..
.DS
.__
/DataAnalysis/NumericalCalculations/.DS_store
/DataAnalysis/client_secrets.json
/webapp/client_secrets.json
/webapp/static/plotlycharts 
/webapp/.DS_Store
/webapp/__pycache__
./DataAnalysis/.DS_Store