<!--
####################################################
# Project: Careportal. 
# Date: June 2021.              
# Updated be Shehjar Sadhu on Jul 16th 2020.
#####################################################
-->

{% extends "layout.html" %}
{%block content%}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #18808B ; border-radius: 3px; margin-top: 2%; margin-right: 1%;">
            <div style="border-radius: 2%;background-color: #F8F8F8; margin-left: 1%;"> 
                <div style="text-align: center; font-size: 3ch; font-family: 'IBM Plex Sans', sans-serif;">
                    Patient: {{patientId}}
                </div>
                <div style="text-align: center; align-items: center;">
                    <b> Patient Demographics  </b>
                 </div>
                <div style="font-family: 'IBM Plex Sans', sans-serif; margin-left: 2%;">
                    <b> Name:</b> Jane Doe <br>
                    <b> Age:</b> 15 Years <br>
                    <b> Gender:</b>  Female
                </div>
                </div>
                <div style="margin-top: 3%; border-radius: 2%;background-color: #FFFFFF;"> 

                    <div style="text-align: center; font-size: 1.5ch; font-family: 'IBM Plex Sans', sans-serif;">
                        <b> Next Appointment Date:</b> "10/31/2021"
                    </div> 
                </div>
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style="margin-top: 4%; background-color: #FFFFFF; border-radius: 2px;">
                <div style="text-align: center;align-items: center; margin-left: 8%; font-size: 8pt; color: black; font-family: 'IBM Plex Sans', sans-serif;">
                   <i> DISCLAIMER: You are viewing hypothesized data.</i>
                </div>
                <div style="text-align: center;align-items: center; margin-top: 5%; font-size: 12pt; color: black; font-family: 'IBM Plex Sans', sans-serif;">
                    Wearable Device:
                    <i>
                    Microsoft Smart Band
                    </i>
                </div>
                <div style="text-align: center;align-items: center; margin-top: 15%; margin-left: 8%; font-size: 16pt; color: black; font-family: 'IBM Plex Sans', sans-serif;">
                    Select Measure:
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="margin-top: 10%;">
                    <li class="nav-item">
                        <a href="{{ url_for( 'heart_rate_route' , patient_id=patientId) }}" class="nav-link px-0 align-middle" style="color:#EE8200;font-family: 'IBM Plex Sans', sans-serif">
                                <i>
                                    <span class="material-icons-outlined">
                                        timeline
                                        </span>
                                </i>
                             <span class="nav_bar_links ms-1 d-none d-sm-inline" style="color: #EE8200; font-size: 15pt;">Heart Rate</span></a>
        
                    </li>
                    <li>
                        <a href="{{ url_for( 'heart_rate_variability_route', patient_id=patientId) }}" class="nav-link px-0 align-middle" style="color: #18808B;font-family: 'IBM Plex Sans', sans-serif" >
                            <i>
                                <span class="material-icons-outlined">
                                    favorite
                                    </span>
                                </i> <span class="nav_bar_links ms-1 d-none d-sm-inline" style="font-size: 15pt;">Heart Rate Variability</span></a>
                    </li>     
                    <li>
                        <a href="{{url_for( 'activity_levels', patient_id=patientId)}}" class="nav-link px-0 align-middle" style="color: #18808B;font-family: 'IBM Plex Sans', sans-serif">
                            <i>
                                <span class="material-icons-outlined">
                                    snowshoeing
                                    </span>
                            </i> <span class="nav_bar_links ms-1 d-none d-sm-inline" style="font-size: 15pt;">Activity Levels</span></a>
                    </li>  
                </ul>
             
            </div>
        </div>
        <div class="card" style="background-color: #FFFFFF; width: 80%; margin-top:2%;  overflow-y: scroll;">
            <div class="card" style="width: 18rem;"id="overlay">
                <div class="card-body">
                    <a  class="card-link" href= "#"onclick="off()">
                        Close 
                    </a>
                  <h5 class="card-title">Target Heart Rate Zones</h5>
                  <h6 class="card-subtitle mb-2 text-muted">How did we calculate target heart rate zones?</h6>
                  <p class="card-text"> We calculate target heart rate zones based on American Heart Association guidelines.</p>
                  <a href="https://www.heart.org/en/healthy-living/fitness/fitness-basics/target-heart-rates" class="card-link">American Heart Association: Target Heart Rate</a>
                </div>
            </div>
            <h3 style="text-align: center; margin-top: 3%; margin-bottom: 2%;font-family: 'IBM Plex Sans', sans-serif;">
                <i  style="top: 4%; left: 0%; margin-left: 3%; margin-top: 3%;">
                    <span onclick="on()" class="material-icons-outlined" >
                        info
                    </span>
                </i>
                Target Heart Rate Zone Based on Age: <span style="color: #6b6b6b;"> (102 bpm  to 174 bpm) </span>
                
            </h3>
               <div class="container" style=" width: fit-content !important;">
                <div class="box-effect1 card" style="width: 100%; height: 100%; align-self: center; margin-top: 2%;">
                    <div id="scatter_3" style=" position: relative;   
                    font-family: 'IBM Plex Sans', sans-serif;">
                        <script>
                                var data_hr = {{hr_stats|tojson}};
                                
                                color = [];
                                
                                // for v in in hr_stats["max"]
                                for (let i = 0; i < data_hr["max"].length; i++) {
                                    if (data_hr["max"][i]>174){
                                        color.push(0);
                                    }
                                    else if(data_hr["max"][i]<174){
                                        color.push(1);
                                    }
                                }
                                console.log(color)
                                // add a third color (Elm color) to make teal
                                colorscale = [[0, 'red'],[0.1, '#1C707F'],[1, 'teal']];
                                var trace1 = {
                                    x: data_hr["dates"], 
                                    y: data_hr["max"],
                                    mode: 'lines+markers',
                                    name: 'max',
                                    type: 'scatter',
                                    //loop test
                                    marker: { 
                                        'color':color,
                                        'colorscale':colorscale,
                                        'size': 15 
                                    },
                                    line: {
                                            shape: 'spline',
                                            smoothing: 1.3,
                                            color:"#18808B"
                                        },

                                    name:"Maximum HR",
                                    hovertemplate: '%{y:.f} bpm' + 
                                                '<br> Day: %{x}<br>' ,
                                };
                                var trace2 = {
                                    x: data_hr["dates"],//data_hr["dates"],
                                    y: data_hr["mean"],
                                    mode: 'lines+markers',
                                    line: {
                                                shape: 'spline',
                                                smoothing: 1.3,
                                            },
                                    name:"Average HR",
                                    hovertemplate: '%{y:.f} bpm' + 
                                                '<br>Day: %{x}<br>' ,
                                    type: 'scatter',
                                    marker: { color: "lightseagreen",size: 15 }
                                };
                                var trace3 = {
                                    x: data_hr["dates"],//data_hr["dates"],
                                    y: data_hr["min"],
                                    mode: 'lines+markers',
                                    line: {
                                                shape: 'spline',
                                                smoothing: 1.3,
                                            },
                                    name:"Minimum HR",
                                    hovertemplate: '%{y:.f} bpm' + 
                                                '<br>Day: %{x}<br>' ,
                                    type: 'scatter',
                                    marker: { color:"darkseagreen",size: 15 }
                                };
                                var layout = {
                                    height:"500", 
                                    width:"900",
                                    xaxis:{
                                        title:{
                                            text: "Day",
                                            font: {
                                                family: 'IBM Plex Sans"',
                                                size: 20,
                                                color: '#7f7f7f'
                                            }
                                    },
                                        linewidth:2, linecolor:'black',showticklabels: true,
                                        type: 'category',
                                        rangeslider:{
                                            visible:true
                                        },
                                    },
                                    yaxis:{
                                        title:{
                                            text: "HR in bpm",
                                            font: {
                                                family: 'IBM Plex Sans',
                                                size: 20,
                                                color: '#7f7f7f'
                                            }
                                    },  
                                    showticklabels: true,                     
                                    linewidth:2, linecolor:'black'
                                    },
                                    title:{
                                        text:"Daily Heart Rate in Beats Per Min (bpm)",
                                        font: {
                                            family: 'IBM Plex Sans',
                                            size: 30
                                            }                               
                                    }
                                
                                };
                                var data = [trace1,trace2,trace3];
                                var config = {
                                    'displaylogo': false,
                                    modeBarButtonsToRemove:['zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d','toggleSpikelines','hoverClosestCartesian', 'hoverCompareCartesian','autoScale2d']};
                                Plotly.newPlot('scatter_3', data,layout,config);
                        </script>
                    </div>
                </div> <!-- For Box effect plot container -->
            </div><!-- For the top level container base container for plots card view-->
          
            <div class="container" style=" width: fit-content !important;">
                <div class="box-effect1 card" style="width: 100%; height: 100%; align-self: center; margin-top: 2%;">
                    <div id="hourly_plot" style=" position: relative; font-family: 'IBM Plex Sans', sans-serif;">
                        <script>
                                var data_hr = {{hourly_stats|tojson}};
                                color = [];
                                time_hr = []
                                //Time annotation.
                                for(var i = 0 ; i<data_hr["TimebyHour"].length ; i++){
                                    if (parseInt(data_hr["TimebyHour"][i]) >12){
                                        annot = data_hr["TimebyHour"][i]+":00" + " PM";
                                        time_hr.push(annot);
                                    }
                                    else if (parseInt(data_hr["TimebyHour"][i]) <12){
                                        annot=data_hr["TimebyHour"][i]+":00" + " AM";
                                        time_hr.push(annot);
                                    }
                                    else if (parseInt(data_hr["TimebyHour"][i]) ==12){
                                        annot=data_hr["TimebyHour"][i]+":00" + " Noon";
                                        time_hr.push(annot);
                                    }    
                                }
                                var updatemenus=[
                                            {
                                                buttons: [
                                                    {
                                                        args: [{'visible': [true, false, false]}],
                                                        label: 'Max. HR',
                                                        method: 'restyle',
                                                        align: 'center'
    
                                                    },
                                                    {
                                                        args: [{'visible': [false, true, false]}],
                                                        label:'Average HR',
                                                        method:'restyle',
                                                        align: 'center'
    
                                                    },
                                                    {
                                                        args: [{'visible': [false, false, true]}],
                                                        label:'Min. HR',
                                                        method:'restyle',
                                                        align: 'center'
                                                    }
                                                ],
                                                direction: 'left',
                                                pad: {'r': 10, 't': 10},
                                                showactive: true,
                                                type: 'buttons',
                                                x: 0.3,
                                                y: 1.2,                                                
                                                xanchor: 'left',
                                                yanchor: 'top'
                                            }
                                        ]
                                // for v in in hr_stats["max"]
                                for (let i = 0; i < data_hr["max"].length; i++) {
                                    if (data_hr["max"][i]>174){
                                        color.push(0);
                                    }
                                    else{
                                        color.push(1);
                                    }
                                }
                                colorscale = [[0, 'red'],[1, 'teal']];
                                var trace1 = {
                                    x: time_hr,//data_hr["dates"],
                                    y: data_hr["max"],
                                    mode: 'markers',
                                    type: 'scatter',
                                    name:"Maximum HR",
                                    hovertemplate: '<br>%{y:.f} bpm<br>' +'%{x} ',
                                    marker: { color:"teal",size: 15 }
                                };
                                var trace2 = {
                                    x: time_hr,//data_hr["dates"],
                                    y: data_hr["mean"],
                                    mode: 'markers',
                                    type: 'scatter',
                                    name:"Average HR",
                                    visible: false,
                                    hovertemplate: 'Hour %{x}' + 
                                                '<br>%{y:.f} bpm<br>' ,
                                    type: 'scatter',
                                    marker: { color: "lightseagreen",size: 15 }
                                };
                                var trace3 = {
                                    x: time_hr,//data_hr["dates"],
                                    y: data_hr["min"],
                                    mode: 'markers',
                                    type: 'scatter',
                                    name:"Minimum HR",
                                    hovertemplate: 'Hour: %{x}' + 
                                                '<br>%{y:.f} bpm<br>' ,
                                    type: 'scatter',
                                    visible: false,
    
                                    marker: { color:"darkseagreen",size: 15 }
                                };
                                
                                var layout = {
                                    height:"500", 
                                    width:"900",
                                    updatemenus:updatemenus,
                                    xaxis:{
                                        title:{
                                            text: "Time of Day",
                                            font: {
                                                family: 'IBM Plex Sans"',
                                                size: 20,
                                                color: '#7f7f7f'
                                            },
                                    },
                                        linewidth:2, linecolor:'black',
                                        showticklabels: true,
                                        type: 'category',
                                        rangeslider:{
                                            visible:true
                                        },
                                    },
                                    yaxis:{
                                        title:{
                                            text: "HR in bpm",
                                            font: {
                                                family: 'IBM Plex Sans',
                                                size: 20,
                                                color: '#7f7f7f'
                                            }
                                    },  
                                    showticklabels: true,                     
                                    linewidth:2, linecolor:'black'
                                    },
                                    title:{
                                        // <span style="text-align: center; font-size: 15px;">  Note: 0 bpm HR means there was no data avaliable for that point in time. </span>
                                        text:'Hourly Heart Rate in Beats Per Min (bpm) <br> ',             
                                        font: {
                                            family: 'IBM Plex Sans',
                                            size: 30
                                            }                               
                                    }
                                
                                };
                                var data = [trace1,trace2,trace3];
                                var config = {
                                    'displaylogo': false,
                                    modeBarButtonsToRemove:['zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d','toggleSpikelines','hoverClosestCartesian', 'hoverCompareCartesian','autoScale2d']};
                                Plotly.newPlot('hourly_plot', data,layout,config);
                        </script>
                    </div>
                </div> <!-- For Box effect plot container -->
            </div><!-- For the top level container base container for plots card view-->
        </div>  <!-- For the base white box-->
  
    </div>
<script> 
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function on() {
        document.getElementById("overlay").style.display = "block";
    }
    function off() {
        document.getElementById("overlay").style.display = "none";
    }
    function onClickColorChange(){
        document.getElementById("navLink").style.color="#EE8200";

    }
</script>
{%endblock content%}
